<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property resource="application.yml"/>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="uk.gov.dwp.logging.logback.JsonEncoder">
            <appName>${app_name}</appName>
            <appVersion>${app_version}</appVersion>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>